@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
*{background-color: #141010;
  font-family:roboto;
}
main {
  text-align: center;
  vertical-align: center;
}
h1{
  color:white
}

.caixa{
  max-width: 600px;
  margin: 0 auto;
  min-width:400px;
}

.formulario{
  display:flex;
  flex-direction:column;
}
.botoes{
   display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin:0 50px;
}